{% extends "default.html" %}
{% block title %}Statistics{% endblock title %}
{% block head %}
    {{ super() }}
    <style>
        th{
            cursor: pointer;
        }
    </style>
    <script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("stats");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if ( n == 1 && ((dir == "asc" && (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase())) || 
                        (dir == "desc" && (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase())))) {
                    shouldSwitch = true;
                    break;
                }else if ((dir == "asc" && (Number(x.innerHTML) > Number(y.innerHTML))) ||
                        (dir == "desc" && (Number(x.innerHTML) < Number(y.innerHTML)))) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    </script>
{% endblock head %}
{% block content %}
<div class="posts">
    <table id="stats">
        <tr>
            <th onclick="sortTable(0)">Number</th>
            <th onclick="sortTable(1)">Title</th>
            <th onclick="sortTable(2)">Views</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td style="text-align: start;">{{ post.number }}</td>
            <td style="text-align: start;"><a href="{{ url | safe }}/{{ post.slug }}">{{ post.title | safe}}</a></td>
            <td style="text-align: start;">{{ post.downloads }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
